@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import "./variabless";

* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

header {
  border-bottom: 2px solid white;
  #top-nav {
    .top-navbar {
      padding: $default-padding;
      .container-fluid {
        .row {
          .left {
            .img-container {
              width: 30%;
              img {
                width: 100%;
              }
            }
          }
          .right {
            .information-panel {
              a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 300;
                color: $text-color;
                i {
                  color: $primary-color;
                }
                .bi-search {
                  border: 1px solid $primary-color;
                  border-radius: 8px;
                  padding: 0.4vw 0.5vw;
                  font-weight: 800;
                }
              }
              .user {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
    .bottom-navbar {
      padding: 1vw 7vw;
      background-color: $default-bg-color;
      .container-fluid {
        .navbar-line {
          display: flex;
          align-items: center;
          .left {
            nav {
              ul {
                margin: 0;
                padding: 0;
                li {
                  list-style-type: none;
                  font-size: 14px;
                  a {
                    text-decoration: none;
                    color: $text-color;
                  }
                }
                li:hover {
                  border-bottom: 2px solid $hover-color;
                }
              }
            }
          }
          .right {
            padding-right: 2vw;
            .btn-container {
              button {
                display: flex;
                align-items: center;
                width: 30%;
                background-color: #ff0039;
                border: 1px solid #ff0039;
                border-radius: 8px;
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
main {
  #lottery {
    padding: 3vw 8vw;
    background-color: $default-bg-color;
    padding-bottom: 8vw;
    .lottery-page {
      .container {
        .row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          .left {
            .text {
              h2 {
                color: $text-color;
                font-size: 35px;
                font-weight: 700;
              }
              button {
                margin-top: 0.5vw;
                background-color: $primary-color;
                border: 1px solid $primary-color;
                color: white;
                border-radius: 8px;
                font-size: 20px;
                padding: 0.8vw 7vw;
              }
              button:hover {
                background-color: $hover-color;
                border: 1px solid $hover-color;
                transition: 0.5s;
              }
            }
          }
          .right {
            display: flex;
            justify-content: flex-end;
            .img-container {
              width: 90%;
              img {
                float: right;
                width: 100%;
              }
              img:hover {
                width: 105%;
                transition: 0.5s;
              }
            }
          }
        }
      }
    }
  }
  #services {
    padding: 3vw 8vw;
    margin-top: -10vw;
    .choose-service {
      padding: 2vw;
      background-color: #f9fafb;
      border: 1px solid #f9fafb;
      border-radius: 8px;
      .container {
        .row {
          .col {
            .box {
              background-color: white;
              border: 1px solid white;
              border-radius: 8px;
              padding: 1.5vw;
              box-shadow: 2px 2px 5px $default-bg-color;
              i {
                font-size: 35px;
                color: $primary-color;
              }
              a {
                color: $text-color;
                text-decoration: none;
                text-align: center;
                font-size: 18px;
                p {
                  margin-right: 4px;
                  font-weight: 600;
                }
              }
            }
            .box:hover {
              width: 105%;
              height: 105%;
              transition: 0.9s !important;
            }
          }
        }
      }
    }
  }
  #card {
    padding: 3vw 8vw;
    .card-info {
      .container {
        .row {
          .left {
            .card-text {
              h4 {
                font-size: 36px;
                color: $text-color;
                .cashback {
                  font-weight: 600 !important;
                  padding-left: 8px;
                }
              }
              .card-main {
                font-size: 18px;
                color: $text-color;
              }
            }
          }
          .right {
            display: flex;
            justify-content: flex-end;
            .image-container {
              width: 50%;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .card-little-info {
      background-color: $default-bg-color;
      margin: -8vw;
      .container {
        padding: 2vw 4.5vw;
        padding-top: 3vw;
        .row {
          .col-8 {
            .list-containers {
                .info-about-card {
                h4 {
                  color: $primary-color;
                  font-weight: 600;
                  font-size: 28px;
                }
                p {
                  font-size: 16px;
                  color: $text-color;
                }
              }
            }
            .button-container {
              margin-top: 1vw;
              button {
                color: white;
                background-color: $primary-color;
                border: 1px solid $primary-color;
                border-radius: 8px;
                padding: 0.7vw 6.5vw;
                font-size: 24px;
              }
              button:hover {
                background-color: $hover-color;
                border: 1px solid $hover-color;
                transition: 0.7s;
              }
            }
          }
        }
      }
    }
  }
  #need {
    margin-top: 8vw;
    padding: 2vw 8vw;
    .need-information {
      .container {
        .row {
          .left {
            display: flex;
            justify-content: flex-start;
            .image-container {
              margin-left: -4vw;
              width: 100%;
              img {
                width: 120%;
              }
            }
          }
          .right {
            margin-top: -20vw;
            .card-text {
              h4 {
                font-size: 36px;
                color: $text-color;
                .cashback {
                  font-weight: 600 !important;
                  padding-left: 8px;
                }
              }
              .card-main {
                font-size: 18px;
                color: $text-color;
              }
            }
          }
        }
      }
    }
    .card-little-info {
      background-color: $default-bg-color;
      margin: -8vw;
      .container {
        padding: 2vw 4.5vw;
        margin-top: -15vw;
        .row {
          .col-8 {
            .list-containers {
              .info-about-card {
                h4 {
                  color: $primary-color;
                  font-weight: 600;
                  font-size: 28px;
                }
                p {
                  font-size: 16px;
                  color: $text-color;
                }
              }
            }
            .button-container {
              margin-top: 1vw;
              button {
                color: white;
                background-color: $primary-color;
                border: 1px solid $primary-color;
                border-radius: 8px;
                padding: 0.7vw 6.5vw;
                font-size: 24px;
              }
              button:hover {
                background-color: $hover-color;
                border: 1px solid $hover-color;
                transition: 0.7s;
              }
            }
          }
        }
      }
    }
  }
}
