@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

header {
  border-bottom: 2px solid white;
}
header #top-nav .top-navbar {
  padding: 2vw 7vw;
}
header #top-nav .top-navbar .container-fluid .row .left .img-container {
  width: 30%;
}
header #top-nav .top-navbar .container-fluid .row .left .img-container img {
  width: 100%;
}
header #top-nav .top-navbar .container-fluid .row .right .information-panel a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: #2e3131;
}
header #top-nav .top-navbar .container-fluid .row .right .information-panel a i {
  color: #f45369;
}
header #top-nav .top-navbar .container-fluid .row .right .information-panel a .bi-search {
  border: 1px solid #f45369;
  border-radius: 8px;
  padding: 0.4vw 0.5vw;
  font-weight: 800;
}
header #top-nav .top-navbar .container-fluid .row .right .information-panel .user {
  font-weight: 700;
}
header #top-nav .bottom-navbar {
  padding: 1vw 7vw;
  background-color: #e8ecf1;
}
header #top-nav .bottom-navbar .container-fluid .navbar-line {
  display: flex;
  align-items: center;
}
header #top-nav .bottom-navbar .container-fluid .navbar-line .left nav ul {
  margin: 0;
  padding: 0;
}
header #top-nav .bottom-navbar .container-fluid .navbar-line .left nav ul li {
  list-style-type: none;
  font-size: 14px;
}
header #top-nav .bottom-navbar .container-fluid .navbar-line .left nav ul li a {
  text-decoration: none;
  color: #2e3131;
}
header #top-nav .bottom-navbar .container-fluid .navbar-line .left nav ul li:hover {
  border-bottom: 2px solid #ef3e42;
}
header #top-nav .bottom-navbar .container-fluid .navbar-line .right {
  padding-right: 2vw;
}
header #top-nav .bottom-navbar .container-fluid .navbar-line .right .btn-container button {
  display: flex;
  align-items: center;
  width: 30%;
  background-color: #ff0039;
  border: 1px solid #ff0039;
  border-radius: 8px;
}
header #top-nav .bottom-navbar .container-fluid .navbar-line .right .btn-container button img {
  width: 100%;
}

main #lottery {
  padding: 3vw 8vw;
  background-color: #e8ecf1;
  padding-bottom: 8vw;
}
main #lottery .lottery-page .container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
main #lottery .lottery-page .container .row .left .text h2 {
  color: #2e3131;
  font-size: 35px;
  font-weight: 700;
}
main #lottery .lottery-page .container .row .left .text button {
  margin-top: 0.5vw;
  background-color: #f45369;
  border: 1px solid #f45369;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  padding: 0.8vw 7vw;
}
main #lottery .lottery-page .container .row .left .text button:hover {
  background-color: #ef3e42;
  border: 1px solid #ef3e42;
  transition: 0.5s;
}
main #lottery .lottery-page .container .row .right {
  display: flex;
  justify-content: flex-end;
}
main #lottery .lottery-page .container .row .right .img-container {
  width: 90%;
}
main #lottery .lottery-page .container .row .right .img-container img {
  float: right;
  width: 100%;
}
main #lottery .lottery-page .container .row .right .img-container img:hover {
  width: 105%;
  transition: 0.5s;
}
main #services {
  padding: 3vw 8vw;
  margin-top: -6vw;
}
main #services .choose-service {
  padding: 2vw;
  background-color: #f9fafb;
  border: 1px solid #f9fafb;
  border-radius: 8px;
}
main #services .choose-service .container .row .col .box {
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 3vw 1.5vw;
  box-shadow: 2px 2px 5px #e8ecf1;
}
main #services .choose-service .container .row .col .box i {
  font-size: 35px;
  color: #f45369;
}
main #services .choose-service .container .row .col .box p {
  text-align: center;
  font-size: 18px;
}
main #services .choose-service .container .row .col .box:hover {
  width: 105%;
  height: 105%;
  transition: 0.9s !important;
}/*# sourceMappingURL=index.css.map */